* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  
  background:linear-gradient(to right, #ff00ff, #ff6f6f);
  min-height: 100vh;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 25px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #e0f7ff;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
  text-align: center;
}

.hero-content h2 {
  color: white;
  font-size: 42px;
  margin-bottom: 15px;
}

.hero-content p {
  color: #f1f1f1;
  font-size: 18px;
  margin-bottom: 25px;
}

.hero-content button {
  padding: 12px 30px;
  border: none;
  border-radius: 30px;
  background: #ff00ff ;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.hero-content button:hover {
  background:  #ff00ff;
}



@media (max-width: 768px) {

  .navbar {
    flex-direction: column;
    padding: 15px 20px;
  }

  .nav-links {
    flex-direction: column;
    margin-top: 10px;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .hero {
    height: auto;
    padding: 50px 20px;
  }

  .hero-content h2 {
    font-size: 50px;
  }

  .hero-content p {
    font-size: 20PX px;
  }

  .hero-content button {
    padding: 10px 25px;
    font-size: 20pxpx;
  }
}

@media (max-width: 480px) {
  .logo {
    font-size: 20px;
  }

  .hero-content h2 {
    font-size: 28px;
  }

  .hero-content p {
    font-size: 14px;
  }

  .hero-content button {
    padding: 8px 20px;
    font-size: 13px;
  }
}