* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  background:linear-gradient(to right, #ff00ff, #ff6f6f);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background: white;
  padding: 40px;
  width: 320px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.login-container h2 {
  margin-bottom: 10px;
  color: #333;
}

.login-container p {
  margin-bottom: 20px;
  font-size: 14px;
  color: #777;
}

.login-container input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
  background: #f1f1f1;
  outline: none;
}

.login-container button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border: none;
  border-radius: 8px;
  background: #ff00ff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.login-container button:hover {
  background: #ff00ff;
}

.link {
  display: block;
  margin-top: 15px;
  font-size: 13px;
  color: #ff00ff;
  cursor: pointer;
}

@media(max-width:480px){

  body{
    padding: 10px;
    height: auto;
    overflow: auto;
  }
  .login-container{
    width: 100%;
    height: auto;
    padding: 10px;
  }
  .link{
    width: 100%;
    max-width: 320px;
    padding: 20px;
  }
  .form{
    width: 100%;
    height: auto;
  }
  button{
    height: 40px;
    font-size: 14px;
  }
  h1{
    font-size: 20px;
  }
}
