* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  height: 100vh;
  background:linear-gradient(to right, #ff00ff, #ff6f6f);
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-container {
  background: white;
  width: 350px;
  padding: 40px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
}

.signup-container h2 {
  color: #333;
  margin-bottom: 10px;
}

.signup-container p {
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
}

.signup-container input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 10px;
  background: #f3f3f3;
  outline: none;
  font-size: 14px;
}

.signup-container button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border: none;
  border-radius: 10px;
  background: #ff00ff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.signup-container button:hover {
  background:  #ff00ff;
}

.login-link {
  display: block;
  margin-top: 15px;
  font-size: 13px;
  color: #ff00ff;
  cursor: pointer;
}


@media screen and (max-width: 480px) {
  .log
  body {
    padding: 20px;
  }

  .signup-container {
    width: 250%;
    max-width: 340px;
    padding: 30px 20px;
    border-radius: 12px;  
  }

  .signup-container h2 {
    font-size: 50%;
  }

  .signup-container p {
    font-size: 13px;
  }

  .signup-container input {
    padding: 10px;
    font-size: 13px;
  }

  .signup-container button {
    padding: 11px;
    font-size: 15px;
  }

  .login-link {
    font-size: 12px;
  }
}  













 
